<!-- autor: Jakub Kováčik (xkovac58) -->
<script>
  $(function () {

    $('#veterinarian_add_form').on('submit', function (e) {
      e.preventDefault();
      $('#container').hide(400);
      $.ajax({
        url: 'http://127.0.0.1:5000/ajax_veterinarian-add',
        type: 'POST',
        data: {
          email : $('#email').val(),
          firstName : $('#firstName').val(),
          password1 : $('#password1').val(),
          password2 : $('#password2').val(),
        },
        
        success: function(res) {
          setTimeout(function(){
          $('#container').html(res);
          $('#container').show(400);
          
          }, 400);
      }
      });

    });

  });
</script>
<form id="veterinarian_add_form" method="POST">
  <h3 align="center">Přidej veterináře</h3>
  <div class="form-group">
    <label for="email">Email *</label>
    <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Zadej email"
            value="{{ request.form['email'] }}"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Křestní jméno *</label>
    <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Zadej křestní jeméno"
            value="{{ request.form['firstName'] }}"
    />
  </div>
  <div class="form-group">
    <label for="password1">Heslo *</label>
    <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Zadej heslo"
            value="{{ request.form['password1'] }}"
    />
  </div>
  <div class="form-group">
    <label for="password2">Potvrzení hesla *</label>
    <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Zopakuj heslo"
            value="{{ request.form['password2'] }}"
    />
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Přidat</button>
</form>
