<!-- autor: Samuel Kuchta (xkucht11) -->
{% extends "base.html" %} {% block title %}Výpujčka{% endblock %}
{% block content %}
{% if session["user_role"] == "Pecovatel" %}
{% for vypujcka in vypujcky %}
  {% if vypujcka.vyrizena == False %}
    {% for animal in animals %}
      {% if vypujcka.id_zvire == animal.id %}
        {% for volunteer in volunteers %}
          {% if vypujcka.id_dobrovolnik == volunteer.id %}
            <p class="content">Dobrovolnik {{volunteer.jmeno}} Venčil zvíře {{animal.jmeno}} dne {{vypujcka.datum}}</p>
            <a class="content" id="{{vypujcka.id}}" onclick="delete_borrowing('{{volunteer.jmeno}}','vyrizen-{{vypujcka.id}}')" style="color: rgb(187, 255, 1);">Oveřit požadavek</a>
            <br>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% endif %}
{% endblock %}