<!-- autor: Samuel Kuchta (xkucht11) -->
{% extends "base.html" %} {% block title %}Úvod{% endblock %}
{% block content %}
<h1 align="center">Útulek Info</h1>
<p>
  Milí návštěvníci,

  srdečně Vás vítám na stránkách našeho útulku Happy paw.
  Milujeme zvířátka a staráme se o ně, jelikož nám přináší radost. 
  Nacházíme na Božetěchova 2 v Brně, kde nás i zvířátka můžete navštívit a dokonce si je vzít na pár hodin i na venčení. 
  Lze u nás zvířátka i adoptovat. 
</p>

<br><br/>
<h2>Poděkování</h2>
<p>
  Touto cestou bychom rádi poděkovali všem hodným lidem, 
  kteří přispěli jak finančně na chod našeho útulku tak i těm kteří osobně přivezli  či poslali pro naše zvířátka granule, 
  konzervy, deky, léky atp. Díky i Vaší pomoci mají zvířátka zajištěné topení, krmení a teplo v boudičkách.
  Jsme vděčni za Vaši pomoc, bez které bychom to sami nezvládli. Děkujeme Vám všem, kteří nám pomáháte a budeme Vám vděčni,
  když nám zachováte přízeň i nadále. 
</p>

{% endblock %}
  